/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
  max-width: 100%;
  max-height: 100%;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Roboto', sans-serif;
  background-color: #222329;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Roboto', sans-serif;
}
h1 {
  font-family: 'monoton', sans-serif;
  font-size: 5rem;
  color: white;
}
h2 {
  font-size: 3rem;
  color: white;
}
p {
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  line-height: 2;
  color: white;
}
a {
  color: white;
}
.main-img-conatiner {
  background-image: url(/images/girl-eating.jpg);
  background-size: cover;
  width: 100%;
  height: auto;
  background-repeat: no-repeat;
}
@media (max-width: 1300px) {
  .main-img-conatiner {
    background-size: contain 100% 100%;
    background-repeat: no-repeat;
    background-position: 80% 70%;
  }
}
@media (max-width: 500px) {
  .main-img-conatiner {
    background-size: contain 100% 100%;
    background-repeat: no-repeat;
    background-position: 80% 60%;
  }
}
@media (max-width: 800px) {
  .main-img-conatiner {
    background-size: cover;
    background-position: 63% 100%;
  }
}
header {
  height: 20rem;
}
header .logo-nav-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: no-wrap;
  margin-left: 5%;
}
@media (max-width: 500px) {
  header .logo-nav-container {
    flex-direction: column;
  }
}
@media (max-width: 800px) {
  header .logo-nav-container {
    flex-direction: column;
  }
}
header .logo-nav-container h1 {
  margin-top: 1%;
  margin-left: -3%;
}
@media (max-width: 800px) {
  header .logo-nav-container h1 {
    text-align: center;
  }
}
@media (max-width: 500px) {
  header .logo-nav-container h1 {
    text-align: center;
    font-size: 4.5rem;
    margin-top: 5%;
    width: 100%;
  }
}
header .logo-nav-container nav {
  width: 50%;
  text-align: right;
  margin-top: 2%;
}
@media (max-width: 800px) {
  header .logo-nav-container nav {
    margin-top: 5%;
    margin-left: -2%;
    text-align: center;
    width: 100%;
  }
}
@media (max-width: 500px) {
  header .logo-nav-container nav {
    margin-top: 7%;
    width: 100%;
    text-align: center;
  }
}
header .logo-nav-container nav a {
  font-size: 1.5rem;
  text-decoration: none;
  border: 1.5px solid white;
  border-radius: 10px;
  padding: 1rem;
  padding-right: 2%;
  padding-left: 2%;
  margin-right: 2%;
  background-color: #222329;
}
@media (max-width: 500px) {
  header .logo-nav-container nav a {
    margin-left: 1%;
  }
}
header .logo-nav-container nav a:hover {
  background-color: white;
  color: black;
  border: 1.5px solid black;
}
body .about {
  width: 35%;
  margin-left: 4%;
  text-align: left;
  background: rgba(34, 35, 41, 0.5);
  padding: 1%;
  border-radius: 10px;
}
@media (max-width: 800px) {
  body .about {
    text-align: left;
    width: 50%;
    padding: 3%;
  }
}
@media (max-width: 500px) {
  body .about {
    width: 90%;
    text-align: left;
    margin: auto;
    margin-top: -10%;
    padding: 5%;
  }
}
body .about h2 {
  margin-bottom: 3%;
}
body .features-header {
  text-align: center;
  margin-bottom: -5%;
  margin-top: 6%;
  padding-top: 0.5%;
}
body .features {
  display: flex;
  justify-content: center;
  flex-wrap: no-wrap;
  align-items: center;
}
@media (max-width: 500px) {
  body .features {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}
@media (max-width: 800px) {
  body .features {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 10%;
  }
}
body .features .features-card {
  background-color: white;
  margin-top: 6.5%;
  margin-bottom: 5%;
  margin-left: 1%;
  margin-right: 1%;
  height: 28rem;
  width: 20%;
  border-radius: 10px;
  padding: 1%;
  text-align: center;
}
@media (max-width: 800px) {
  body .features .features-card {
    width: 45%;
    margin: 1%;
    margin-bottom: 5%;
  }
}
@media (max-width: 500px) {
  body .features .features-card {
    width: 45%;
    margin-bottom: 6%;
  }
}
body .features .features-card:hover {
  background-color: #222329;
  color: white;
}
body .features .features-card:hover p {
  color: white;
}
body .features .features-card p {
  color: black;
  height: 40%;
  font-size: 1.5rem;
  font-weight: bold;
}
body .features .features-card i {
  font-size: 10rem;
  align-items: center;
  margin-top: 10%;
}
.team-heading-art-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: no-wrap;
  margin-top: 0%;
}
@media (max-width: 800px) {
  .team-heading-art-container {
    flex-direction: column;
    margin-top: 2%;
  }
}
@media (max-width: 500px) {
  .team-heading-art-container {
    flex-direction: column;
  }
}
.team-heading-art-container .team-intro {
  margin-top: 3%;
  margin-left: 4%;
}
.team-heading-art-container .team-intro p {
  margin-top: 10%;
}
@media (max-width: 800px) {
  .team-heading-art-container .team-intro p {
    text-align: center;
    padding: 2%;
  }
}
@media (max-width: 500px) {
  .team-heading-art-container .team-intro p {
    text-align: center;
    padding: 2%;
  }
}
@media (max-width: 800px) {
  .team-heading-art-container .team-intro h2 {
    text-align: center;
  }
}
@media (max-width: 500px) {
  .team-heading-art-container .team-intro h2 {
    text-align: center;
  }
}
.team-heading-art-container .svg-art {
  margin-right: 2%;
  max-width: 100%;
}
@media (max-width: 800px) {
  .team-heading-art-container .svg-art {
    width: 100%;
    text-align: center;
  }
}
@media (max-width: 500px) {
  .team-heading-art-container .svg-art {
    width: 100%;
  }
}
.team-member-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.team-member-container .team-member-card {
  border: 2px solid white;
  border-radius: 10px;
  background-color: white;
  margin: 1%;
  width: 30%;
  height: auto;
}
@media (max-width: 800px) {
  .team-member-container .team-member-card {
    width: 45%;
    height: 30rem;
    margin-bottom: 5%;
  }
}
@media (max-width: 500px) {
  .team-member-container .team-member-card {
    width: 90%;
    margin-top: 5%;
  }
}
.team-member-container .team-member-card img {
  width: 50%;
  border-radius: 50%;
  margin-left: 25%;
  margin-top: 2%;
}
.team-member-container p {
  color: black;
  text-align: center;
  font-weight: bold;
}
@media (max-width: 500px) {
  .team-member-container p {
    margin-bottom: -2%;
  }
}
footer {
  display: flex;
  justify-content: center;
  flex-wrap: no-wrap;
  border: 1px solid white;
}
footer p {
  margin-left: 1%;
  font-size: 1.2rem;
  text-align: center;
  padding-top: 1%;
  padding-bottom: 1%;
}
