body {

.about {
@media @mobile {
width: 100%;
text-align: center;
}
@media @tablet {
text-align: center;
width: 85%;
}
width: 30%;
margin-left: 4%;
margin-top: 5%;

h2{
    margin-bottom: 5%;
    margin-top: 5%;
}

 }

 .features-header{
     text-align: center;
     margin-bottom: -5%;
     margin-top:6.5%;
 }

 .features {
     @media @mobile {
     .flexIt(wrap, center);  
    
     }
     @media @tablet {
    .flexIt(wrap, center);
    @media @tablet {
    margin-top: 10%;
     }
     }
     @media @mobile {
     .flexIt(wrap, center);
    
     }
     .flexIt(no-wrap, center );
     align-items: center;


     .features-card {
         @media @mobile {
         width: 45%;
         margin-top:2%;
         }
         @media @tablet {
         width: 45%;  
         margin-top: 1%;  
         }
         background-color: white;
         margin-top: 7%;
         margin-bottom: 5%;
         margin-left: 1%;
         margin-right: 1%;
         height: 30rem;
         width: 20%;
         border-radius: 10px;
         padding: 1%;
         text-align: center;
         
         &:hover{ 
            background-color: @bgColor;
            color: white;

            p {
                color: white;
            }
         }
         
         p {
             color: black;
             height: 40%;
             font-size: 1.6rem;
             font-weight: bold;
         }

         i {
             font-size: 10rem;
             align-items: center;
             margin-top: 10%;
        
             
         }

     }
 }
}