.team-heading-art-container{
@media @tablet {
flex-direction: column;
margin-top:2%;
}
@media @mobile {
  flex-direction: column;
}
.flexIt(no-wrap, space-between);
margin-top:0%;


  .team-intro {
      margin-top:3%;
      margin-left: 4%;

      p {
      @media @tablet {
      text-align: center;
      padding: 2%;
      }
      @media @mobile {
      text-align: center;
      padding: 2%;
      }
      margin-top: 10%;
          
      }

      h2 {
      @media @tablet {
      text-align: center;
      }
      @media @mobile {
      text-align: center;
      }
      }
  }

  .svg-art {
  @media @tablet {
  width: 100%;
  text-align: center;
  }
  @media @mobile {
  width: 100%;
  }
  margin-right: 2%;
  max-width: 100%;
  }
}

.team-member-container {
  .flexIt(wrap, center);


  .team-member-card {
    @media @tablet {
    width: 45%;
    height: 30rem;
    margin-bottom: 5%;
    }
    @media @mobile{
    width: 90%;
    margin-top: 5%;
    }
    border: 2px solid white;
    border-radius:  10px;
    background-color: white;
    margin: 1%;
    width: 30%;
    height: auto;
    
    img{
    width: 50%;
    border-radius: 50%;
    margin-left: 25%;
    margin-top: 2%;  
    }
  }
  p{
    @media @mobile {
    margin-bottom: -2%;
    }
    color: black;
    text-align: center;
    font-weight: bold;
  }
}