.team-heading-art-container{
@media @mobile {
  flex-direction: column;
}
.flexIt(no-wrap, space-between);
margin-top: 2%;
border: 2px solid red;

  .team-intro {
      margin-top:3%;
      margin-left: 4%;

      p {
          margin-top: 10%;
          text-align: center;
      }
  }

  .svg-art {
  margin-right: 20%;
  max-width: 100%;
  border: 2px solid white;
  }
}

.team-member-container {
  .flexIt(wrap, center);
  

  .team-member-card {
    border: 2px solid white;
    background-color: white;
    margin: 1%;
    width: 30%;
    height: 40rem;
  }
}